# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media
/staticfiles

# Environments
.env
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
